<div class="dd-wrapper" [ngStyle]="{'backgroundColor': backgroundColor}">
  <div class="placeholder"
       [class.hide]="showValue" (click)="toggleDropDown($event)">{{selectedValue}}</div>
  <div class="selected-item-box" (click)="toggleDropDown($event)">
    <span class="dropdown-icon">
       <svg xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="arrow">
        <polyline points="7,10 12,15 17,10"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2" />
      </svg>
    </span>
  </div>
  <div class="list" *ngIf="isOpen">
    <ul class="items-list">
      <li *ngFor="let option of options" (click)="itemChange($event, option.id, option.label)">
        <img *ngIf="option.imgSrc" [src]="option.imgSrc" [title]="option.label" [alt]="option.label" />
        <span>{{option.label}}</span>
      </li>
    </ul>
  </div>
</div>

