<!--<div class="multiple-select-wrapper">-->
  <!--<div class="selected-items-box">-->
    <!--<span class="dropdown-icon"></span>-->
    <!--<ul class="items-list">-->
      <!--<li *ngFor="let option of options">-->
        <!--<img [src]="option.imgSrc" [title]="option.label" [alt]="option.label" />-->
      <!--</li>-->
      <!--&lt;!&ndash;<span ng-show="(Airlines | filter: getSelectedItemsOnly).length > 3" title="See more selections..">...</span>&ndash;&gt;-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="list">-->
    <!--<ul class="items-list">-->
      <!--<li *ngFor="let option of options">-->
        <!--<input type="checkbox" />-->
        <!--<img [src]="option.imgSrc" [title]="option.label" [alt]="option.label" />-->
        <!--<span>{{option.label}}</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->


<!--<select (change)="itemChange($event.target.value)">-->
  <!--<option *ngFor="let option of options" [value]="option.id">{{option.label}}</option>-->
<!--</select>-->


<div class="multiple-select-wrapper">
  <div class="selected-items-box" (click)="toggleDropDown()">
    <span class="dropdown-icon">
       <svg xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="arrow"
            [class.rotate]="(!isOpen && openDirection === 'top') || (isOpen && openDirection === 'bottom')">
        <polyline points="7,10 12,15 17,10"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2" />
      </svg>
    </span>
  </div>
  <div class="list" *ngIf="isOpen">
    <ul class="items-list">
      <li *ngFor="let option of options" (click)="itemChange(option.id)">
        <img [src]="option.imgSrc" [title]="option.label" [alt]="option.label" />
        <span>{{option.label}}</span>
      </li>
    </ul>
  </div>
</div>
