.reset-btn {
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 8px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    &:hover {
      transition: all 0.4s ease 0s;
    }
  }
}

.search-wrapper {
  display: grid;
  grid-template-columns: auto 170px;
  grid-column-gap: 10px;
  margin-left: 1.5rem;
}

@media (max-width: 767px) {
  .search-wrapper {
    margin-left: 1.5rem;
    grid-template-columns: auto 100px;
  }
  //.reset-btn {
  //  a {
  //    padding: 2px;
  //  }
  //}
}
